<% provide(:title, "Home") %>

<h2>Welcome to Blög!</h2>

<h2>Users</h2>

<%= will_paginate %>
<ul>
  <% @main_pages.each do |x| %>
    <li>
      <%= link_to x.name, x %>
    </li>
  <% end %>
</ul>
