<h2>All blogs</h2>

<%= will_paginate %>
<table class="table">
  <thead>
    <tr>
      <th>Blog</th>
      <th>User</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |x| %>
      <tr>
        <td>
          <%= link_to x.name, x %>
        </td>
        <td>
          <%= x.user.name %>
        </td>
        <td>
          <%= time_ago_in_words(x.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
