<!--User's blog-->
<div>
  <h2><%= @blog.name %></h2>
  <p>by <%= link_to @user.name, user_path(@user) %></p>

  <% if logged_in? && logged_in_user?(@user) %>
    <%= link_to "Edit my blog", edit_blog_path(@blog), class: "btn btn-warning" %>
  <% end %>
</div>