<h2>All users</h2>

<%= will_paginate %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |x| %>
      <tr>
        <td>
          <%= link_to x.name, x %>
        </td>

        <% if logged_in? && logged_in_user.admin? && !logged_in_user?(x) %>
          <td>
            <%= link_to "Murder", x, method: :delete,
                data: {confirm: "Are you serious?!"}, class: "text-danger" %>
          </td>
          <td>
            <%= link_to "Edit", edit_user_path(x), class: "text-warning" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
