$jns-purple: #252839;
$jns-gray: #677077;
$jns-light: #b5b5b7;
$jns-yellow: #f2b632;

/*Hate for rounded edges*/
* {
  border-radius: 0 !important;
}

/*Main content*/
#jns-main {
  margin-bottom: 80px;
}

/*Navbar*/
#jns-navbar {
  background-color: $jns-purple;
  border-width: 0;
  border-bottom: 5px solid $jns-yellow;

  a {
    color: $jns-light;

    &:hover {
      color: #fff;
    }
  }

  .jns-logo {
    margin-left: 6px;
    height: 50px;
  }
}

/*Footer*/
#jns-footer {
  /*Stick it to the bottom*/
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $jns-purple;

  padding: 5px;
}

/*Form*/
#jns-form {
  // Display as stack
  input {
    display: block;
  }

  .btn-default {
    margin-top: 10px;
    background-color: $jns-yellow;
    color: white;

    &:hover {
      background: darken($jns-yellow, 10%);
    }
  }
}

/*Zone*/
#jns-zone {
  padding: 10px;
}